.blog__write {
    text-align: left;
}
.blog__write label {
    display: block;
    margin-bottom: 5px;
}
.blog__write input {
    width: 100%;
    background: #ededed;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.blog__write select {
    width: 20%;
    background: #ededed;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.blog__write textarea {
    width: 100%;
    background: #ededed;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    resize: none;
    height: 400px;
}
.blog__write button {
    background: #000;
    color: #fff;
    border: 0;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 30px;
    float: right;
}